*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
.App{
    background-color: #111;
}
.root{
    background-color: rgb(41, 41, 41);
}