.row{
    margin-top: 1.5rem;
    h2{
        color: white;
        margin-left: 2.2rem;
        font-size: 1.7rem;
    }
    .row-posters{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px 20px 0px;

        &::-webkit-scrollbar{
            background: black;
            height: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(169, 169, 172);   
            border-radius: 20px;       
            border: 3px solid rgb(69, 69, 69);  
        }
        .row-poster-div{
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 450ms;
            margin-left: 10px;
            border-radius: 10px;

            &:hover{
                transform:  scale(1.08);
            }
            a{
                color: white;
                width: 100%;
                height:  100%;
                object-fit: contain;
                h1{
                    padding-left: 1rem;
                    padding-right: 1rem;
                    z-index: 10;
                    bottom: 40px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 17px;
                }
                .row-bg{
                    z-index: 0;
                    position: absolute;
                    width: 97%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 99.5%;
                    background: #00000092;
                    border-radius: 10px;
                }
                .large-row-button{
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    position: absolute;
                    top: 200px;
                    button{
                        z-index: 10;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0.5rem;
                        border: none;
                        cursor: pointer;
                        &:hover{
                            border-radius: 5px;
                            background-color: rgba(255, 94, 94, 0.66);
                            transition: 0.2s cubic-bezier(0.25, 0.1, 0.99, 0.97);
                        }
                        img{
                            display: flex;
                            align-items: center;
                            justify-items: center;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                .row-button{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    position: absolute;
                    top: 100px;

                        button{
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0.5rem;
                            border: none;
                            &:hover{
                                border-radius: 5px;
                                background-color: rgba(255, 94, 94, 0.66);
                                transition: 0.2s cubic-bezier(0.25, 0.1, 0.99, 0.97);
                            }
                            img{
                                display: flex;
                                align-items: center;
                                justify-items: center;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    
                }
                .row-poster{
                    width: 250px;
                    height: 100%;
                    border-radius: 5px;
                   
                }
                .row-posterLarge{
                    object-fit: contain;
                    width: 180px;
                    height: 100%;     
                    margin-left: 0px !important;
                    border-radius: 10px;
                }
            }
        }
        
    }
}

.row-details{
width: 100%;
height: 100%;
z-index: 99;
border-radius: 10px;

}
.details{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    gap: 1rem;
    background-color: #0e0e0e;
    overflow: auto;
    .details-img{
        position: relative;
        width: 50%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .details-info{
        position: relative;
        top: 50px;
        gap: 2rem;
        display: flex;
        width: 50%;
        flex-direction: column;
        .details-title{
            padding: 1rem 2rem;
    
            h1{
                color: white;
            }
        }
        .details-release{
            color: white;
            padding-left: 2rem;
            padding-right: 7rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            h2{
                margin: 0;
                padding: 0;
            }
    
            .details-overview{
                font-size: 18px;
            }
        }
        .details-button{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding-bottom: 2rem;
            button{
                cursor: pointer;
                color:white;
                outline:none;
                border: none;
                font-weight: 700;
                border-radius: 0.2vw;
                padding-left: 2rem;
                padding-right: 2rem;
                margin-right: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                background-color: rgb(51, 51, 51);
                box-sizing: border-box;
                font-size: 17px;
                &:hover{
                    color: black;
                    background-color: #e6e6e6;
                    transition: all 0.2s;
                }
                img{
                    width: 20px;
                    height: 20px;
                    fill: white !important;
                }
            }
        }
    }
    


}



.row-trailer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.primary-btn{
    &:hover::after{
        content: " More info";
        padding-left: 0.2rem;
        font-size: 14px;
        font-weight: 700;
    }
}

.secondary-btn{
    &:hover::after{
        content: " Add to List";
        padding-left: 0.2rem;
        font-size: 14px;
        font-weight: 700;
    }
}


.react-multi-carousel-track{
    margin-left: 2rem;
}

.react-multiple-carousel__arrow--right {
    right: calc(0.1% + 1px) !important;
    z-index: 1!important;
}
.react-multiple-carousel__arrow--left {
    left: calc(0.1% + 1px) !important;
    z-index: 1!important;
}

.react-multi-carousel-list {
    background-color: #20202047 !important;
}
@media only screen and (max-width:1200px){
    .details{
        z-index: 99;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1rem;
        background-color: #0e0e0e;
        overflow: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .details-img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 0, 0);
            left: 0;
            img{
                width: 100%;
                height: 100%;
                background: black;
                opacity: 0.2;
                object-fit: cover;
            }
        }
        .details-info{
            position: relative;
            top: 50px;
            gap: 2rem;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            .details-title{
                padding: 1rem 0rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
        
                h1{
                    color: white;
                }
            }
            .details-release{
                color: white;
                padding-left: 2rem;
                padding-right: 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: center;
                justify-content: center;
                h2{
                    margin: 0;
                    padding: 0;
                }
        
                .details-overview{
                    font-size: 18px;
                }
            }
        }
    }
}


@media only screen and (max-width:800px){
    .row h2 {
        color: white;
        margin-left: 2.2rem;
        font-size: 1.6rem;
    }
}
@media only screen and (max-width:650px){
    .row h2 {
        color: white;
        margin-left: 2.2rem;
        font-size: 1.4rem;
    }
    .details .details-info {
        position: relative;
        top: 50px;
        gap: 2rem;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}
@media only screen and (max-width:500px){
    .row h2 {
        margin-left: 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.3rem;
    }
    .details .details-info .details-release .details-overview {
        font-size: 16px;
    }
    .row-trailer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222;
    }
}

@media only screen and (max-width:400px){
    .details .details-info {
        width: 100%;
    }
    .details .details-info .details-button button {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 1rem;
        font-size: 15px;
    }
    .details .details-img {
        height: 145vh;
    }

    .details .details-info {
        top: 94px;
    }
    .details .details-info .details-release .details-overview {
        font-size: 14px;
        text-align: justify;
        line-height: 1.3;
    }
    .details .details-info .details-release h2 {
        font-size: 18px;
    }
    .details .details-info .details-release h3 {
        font-size: 15px;
    }
    .details .details-info .details-title h1 {
        color: white;
        font-size: 22px;
    }
}

@media only screen and (max-width:360px){
    .details .details-info {
        top: 150px;
    }
}















