.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color:  white;
    padding-top: 120px;
    padding-bottom: 80px;
    gap: 1rem;
    background-color: #000000e0 !important;
    position: absolute;
    z-index: 97;
    width: 100%;
    height: 100%;
    
    .search-bar-movies{
        display: flex;
        align-items: center;
        justify-content: center;
        .movies-content{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a{
                color: white;
                font-size: 17px;
                font-weight: 600;

            }
        }
    }
}