.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color:  white;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 1rem;
    background-color: #000000e0 !important;
    position: absolute;
    z-index: 97;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 50px;
    .search-bar-movies{
        display: flex;
        align-items: center;
        justify-content: center;
        .movies-content{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a{
                color: white;
                font-size: 17px;
                font-weight: 600;

            }
        }
    }
}

@media only screen and (max-width:525px){
    .search-bar-container {
        gap: 2rem;
    }
}

@media only screen and (max-width:400px){
    .search-bar-container .search-bar-movies .movies-content a {
        color: white;
        font-size: 12px;
        font-weight: 600;
    }
}