.row {
  margin-top: 1.5rem;
}

.row h2 {
  color: white;
  margin-left: 1.5rem;
}

.row .row-posters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  width: 100%;
}

.row .row-posters::-webkit-scrollbar {
  background: black;
  height: 10px;
}

.row .row-posters::-webkit-scrollbar-thumb {
  background-color: #a9a9ac;
  border-radius: 20px;
  border: 3px solid #454545;
}

.row .row-posters .row-poster-div {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 450ms;
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
  transition: transform 450ms, -webkit-transform 450ms;
  margin-left: 10px;
  border-radius: 20px;
}

.row .row-posters .row-poster-div:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.row .row-posters .row-poster-div a {
  color: white;
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.row .row-posters .row-poster-div a h1 {
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 10;
  bottom: 40px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
}

.row .row-posters .row-poster-div a .row-bg {
  z-index: 0;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background: #00000065;
  border-radius: 10px;
}

.row .row-posters .row-poster-div a .large-row-button {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 200px;
}

.row .row-posters .row-poster-div a .large-row-button button {
  z-index: 10;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.row .row-posters .row-poster-div a .large-row-button button:hover {
  border-radius: 5px;
  background-color: rgba(255, 94, 94, 0.66);
  -webkit-transition: 0.2s cubic-bezier(0.25, 0.1, 0.99, 0.97);
  transition: 0.2s cubic-bezier(0.25, 0.1, 0.99, 0.97);
}

.row .row-posters .row-poster-div a .large-row-button button img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 20px;
  height: 20px;
}

.row .row-posters .row-poster-div a .row-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 100px;
}

.row .row-posters .row-poster-div a .row-button button {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  border: none;
}

.row .row-posters .row-poster-div a .row-button button:hover {
  border-radius: 5px;
  background-color: rgba(255, 94, 94, 0.66);
  -webkit-transition: 0.2s cubic-bezier(0.25, 0.1, 0.99, 0.97);
  transition: 0.2s cubic-bezier(0.25, 0.1, 0.99, 0.97);
}

.row .row-posters .row-poster-div a .row-button button img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 20px;
  height: 20px;
}

.row .row-posters .row-poster-div a .row-poster {
  width: 250px;
  height: 100%;
  border-radius: 5px;
}

.row .row-posters .row-poster-div a .row-posterLarge {
  -o-object-fit: contain;
     object-fit: contain;
  width: 180px;
  height: 100%;
  margin-left: 0px !important;
  border-radius: 20px;
}

.row-details {
  width: 100%;
  height: 100%;
  z-index: 99;
  border-radius: 10px;
}

.details {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  background-color: #222;
}

.details .details-img {
  position: relative;
  width: 50%;
  height: 100%;
}

.details .details-img img {
  width: 100%;
  height: 100%;
}

.details .details-info {
  position: relative;
  top: 50px;
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details .details-info .details-title {
  padding: 1rem 2rem;
}

.details .details-info .details-title h1 {
  color: white;
}

.details .details-info .details-release {
  color: white;
  padding-left: 2rem;
  padding-right: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.details .details-info .details-release h2 {
  margin: 0;
  padding: 0;
}

.details .details-info .details-release .details-overview {
  font-size: 18px;
}

.details .details-info .details-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.details .details-info .details-button button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
}

.details .details-info .details-button button:hover {
  color: black;
  background-color: #e6e6e6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.details .details-info .details-button button img {
  width: 20px;
  height: 20px;
  fill: white !important;
}

.row-trailer {
  width: 97.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222;
}

.primary-btn:hover::after {
  content: " More info";
  padding-left: 0.2rem;
  font-size: 14px;
  font-weight: 700;
}

.secondary-btn:hover::after {
  content: " Add to List";
  padding-left: 0.2rem;
  font-size: 14px;
  font-weight: 700;
}

.banner {
  position: relative;
  color: #fff;
  -o-object-fit: contain;
     object-fit: contain;
  height: 560px;
}

.banner .banner-contents {
  z-index: 10;
  position: relative;
  margin-left: 30px;
  padding-top: 152px;
  height: 190px;
}

.banner .banner-contents .banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.8rem;
}

.banner .banner-contents .banner-buttons .banner-button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
}

.banner .banner-contents .banner-buttons .banner-button:hover {
  color: black;
  background-color: #e6e6e6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.banner .banner-contents .bunner-description {
  font-weight: 600;
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.1rem;
  max-width: 360px;
  height: 80px;
}

.banner .banner-fade-button {
  height: 66%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(37, 37, 37, 0.61)), to(#111));
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.banner .banner-bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000002e;
}

.banner-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -55px;
}

.banner-close-btn .banner-close-trailer-btn {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
}

.banner-close-btn .banner-close-trailer-btn:hover {
  color: black;
  background-color: #e6e6e6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.App {
  background-color: #111;
}

.root {
  background-color: #292929;
}

.nav {
  background: #0000008a;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
}

.nav .nav-group-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-group-1 .nav-logo {
  width: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav .nav-group-1 .nav-links {
  margin-left: 1.2rem;
}

.nav .nav-group-1 .nav-links a {
  font-weight: 500;
  font-size: 17px;
  margin-left: 1.5rem;
  color: white;
  cursor: pointer;
}

.nav .nav-group-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.nav .nav-group-2 input {
  width: 200px;
  height: 22px;
}

.nav .nav-group-2 .search-button {
  background: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 2rem;
}

.nav .nav-group-2 .search-button .search {
  width: 30px;
}

.nav .nav-group-2 .search-button .close {
  width: 20px;
}

.nav .nav-group-2 .login-button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

.nav .nav-group-2 .login-button:hover {
  color: black;
  background-color: #e6e6e6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.my-list-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.my-list-container .my-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0rem;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 15rem;
  color: white;
}

.my-list-container .my-list .my-list-img {
  width: 30%;
}

.my-list-container .my-list .my-list-img img {
  width: 250px;
}

.my-list-container .my-list .my-list-description {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.my-list-container .my-list .my-list-description p {
  font-size: 16.5px;
}

.my-list-container .my-list .my-list-description .detail {
  font-weight: 600;
}

.my-list-container .my-list .my-list-description button {
  width: 200px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #404040;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
}

.my-list-container .my-list .my-list-description button:hover {
  color: black;
  background-color: #e6e6e6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.video-btn-list {
  width: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  position: absolute !important;
  top: 997px !important;
  left: 0 !important;
  z-index: 99 !important;
}

.alert-list {
  font-size: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

.search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding-top: 120px;
  padding-bottom: 80px;
  gap: 1rem;
  background-color: #000000e0 !important;
  position: absolute;
  z-index: 97;
  width: 100%;
  height: 100%;
}

.search-bar-container .search-bar-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar-container .search-bar-movies .movies-content {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar-container .search-bar-movies .movies-content a {
  color: white;
  font-size: 17px;
  font-weight: 600;
}

footer {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #111111;
}

footer img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer-info {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-info p {
  font-size: 18px;
}

footer .footer-info .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

footer .footer-info .footer-contact a {
  color: white;
  text-decoration: underline;
  font-size: 17px;
}
/*# sourceMappingURL=main.css.map */